[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[user]
	name = David Metzler
	email = david-metzler@web.de
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
[diff]
  tool = nvim_difftool
[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
[merge]
  tool = diffview
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[init]
	defaultBranch = main
[lfs "https://gitlab.miniserver/Skydeke/Illy.git/info/lfs"]
	sslverify = false
[lfs]
	activitytimeout = 36000
[pull]
	rebase = true
[core]
	editor = nvim
