# Ignore everything
*

# But not these files...
!.gitignore
!/.config/
!/.local/
!/.local/state/

#Environment variables
!.env

# Newsboat-Images
!/.local/state/w3m
!/.local/state/w3m/config
!.config/newsboat
!.config/newsboat/config
!.config/newsboat/image-preview/
!.config/newsboat/image-preview/nbparser

# Terminator-Config
!/.config/terminator/
!/.config/terminator/config
!/.config/terminator/startupconfig

# Alacritty-Config
!/.config/alacritty/
!/.config/alacritty/alacritty.toml

# Fish-Shell startup script
!/.config/fish/
!/.config/fish/config.fish

# Starship-Config
!/.config/starship.toml

