# Ignore everything
*

# But not these files...
!.gitignore
!/.config/
!/.local/
!/.local/state/

# Bash
!/.bashrc
!/.bash_aliases
!/.bash_logout
!/.bash_profile

# Git 
!/.gitconfig

# Conda
!/.condarc

# Rofi / Cliphist
!/.config/rofi
!/.config/rofi/launcher.rasi
!/.config/rofi/windows11-list-dark.rasi

# MPV
!/.config/mpv
!/.config/mpv/mpv.conf
!/.config/mpv/input.conf
!/.config/mpv/shaders
!/.config/mpv/shaders/*
!/.config/mpv/scripts
!/.config/mpv/scripts/*
!/.config/mpv/fonts
!/.config/mpv/fonts/*
!/.config/mpv/script-opts
!/.config/mpv/script-opts/*

# Script
!/.config/Scripts
!/.config/Scripts/upower-bars.sh
!/.config/Scripts/install-grub-secureboot.sh


# Newsboat-Images
!/.local/state/w3m
!/.local/state/w3m/config
!/.config/newsboat
!/.config/newsboat/config
!/.config/newsboat/image-preview/
!/.config/newsboat/image-preview/nbparser

# Terminator-Config
!/.config/terminator/
!/.config/terminator/config
!/.config/terminator/startupconfig

# Alacritty-Config
!/.config/alacritty/
!/.config/alacritty/alacritty.toml

# Fish-Shell startup script
!/.config/fish/
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/fish/fish_variables
!/.config/fish/functions/up-or-search.fish

# Starship-Config
!/.config/starship.toml

# hyprland-Config
!/.config/hypr
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprland
!/.config/hypr/hyprland/colors.conf
!/.config/hypr/hyprland/colors_default.conf
!/.config/hypr/hyprland/env.conf
!/.config/hypr/hyprland/execs.conf
!/.config/hypr/hyprland/keybinds.conf
!/.config/hypr/hyprland/plugins.conf
!/.config/hypr/hyprland/rules.conf
!/.config/hypr/hyprland/scripts/
!/.config/hypr/hyprland/scripts/start_geoclue_agent.sh
!/.config/hypr/shaders
!/.config/hypr/shaders/chromatic_abberation.frag 
!/.config/hypr/shaders/crt.frag
!/.config/hypr/shaders/drugs.frag
!/.config/hypr/shaders/extradark.frag
!/.config/hypr/shaders/invert.frag
!/.config/hypr/shaders/solarized.frag

# hypridle-Config
!/.config/hypr
!/.config/hypr/hypridle.conf

# Systemd
!/.local/share/
!/.local/share/systemd
!/.local/share/systemd/user
!/.local/share/systemd/user/hyprland-session.service
!/.config/systemd
!/.config/systemd/user
!/.config/systemd/user/ssh-agent.service 
!/.config/systemd/user/mpris-proxy.service

# Fontconfig
!/.config/fontconfig
!/.config/fontconfig/fonts.conf
