# Ignore everything
*

# But not these files...
!.gitignore
!/.config/

#Environment variables
!.env

# Newsboat-Images
!.w3m
!.w3m/config
!.config/newsboat
!.config/newsboat/config
!.config/newsboat/image-preview/
!.config/newsboat/image-preview/nbparser

# Terminator-Config
!/.config/terminator/
!/.config/terminator/config
!/.config/terminator/startupconfig